
@charset "UTF-8";
/* c_layout_code_001.css */
body { margin: 0;}

#wrap {
  width: 900px; height: auto; min-height: 500px; 
  margin: 0 auto; padding-bottom: 300px;
  background-color: beige;
}

.box {
  width: 600px; height: 600px;
  margin: 0 auto;
  background-color: #95d6a4;
}

.inner_01 {background-color:#456ea2;}
.inner_02 {background-color:#fff9eb;}
.inner_03 {background-color:#ffcf5d;}

.inner_01 > .insert {background-color: #ffcf5d;}
.inner_02 > .insert {background-color: #db5446;}
.inner_03 > .insert {background-color: #7e94ff;}

/* -------------------------------------- */
.box_01 > div {width: 100%; height: 200px;}

/* -------------------------------------- */
.box_02 > div {float:left; width: 200px; height:100%;}

/* -------------------------------------- */
.box_03 > div {margin: 0 auto; width: 200px; height: 50%;}

/* -------------------------------------- */
.box_04 {height: auto; min-height: 200px;}
.box_04 > div {width: 100%; height: 200px;}
.box_04 .insert {width:60%; height:200px; margin:0 auto;}
.box_04 > .inner_01 > .insert {background-color:#ffcf5d;}
.box_04 > .inner_02 > .insert {width: 45%;background-color:#db5446;}
.box_04 > .inner_03 > .insert {margin:0; background-color:#7e94ff;}

/* -------------------------------------- */
.box_05 {height:auto;}
.box_05 > div {float:left; width: 200px; height: 600px;}
/* .box_05 > .floor {clear:both; float:none; width: 100%; height: 10px; background-color: #000;} */

.box_05:after,
.box_05::after{ content: ""; display: block; clear:both;
  width: 100%; height: 0;}

.box_05 .insert {width: 100%; height:200px;}
.box_05 .inner_02 .insert {margin-top: 200px;}
.box_05 .inner_03 .insert {margin-top: 400px;}


  /* 
  *하나의 요소 내부에, 
  1. 여러 요소들이 모두 가로로 나열 되어있는 상태일 경우 float: left를 이용하여 처리
  2. 하나의 요소에 float을 사용하였다면 그 형제 요소에는 모두 float을 사용
  3. 하지만 부모요소가 높이값이 auto인 라면 실제 반영되는 부모의 높이는 0로 설정되어 있으므로,
  4. 부모에 가상의 어떤 존재를 생성(마지막에 생성되는 :after)하여, clear:both;를 적용
  5. 단, clear:both;는 반드시 block요소에 적용해야한다. (inline요소일 경우 display:block;을 적용)
  tip. 어떠한 요소든 관계없이, float 기능을 사용하면(float:none 제외) 해당요소는 block 처리된다.
  */

  /* -------------------------------------- */

  /*
  *내 답안
  .box_06 {width: 600px; height:auto;}
  .box_06 > div {width: 100%; height: auto;}
  .box_06:after,
  .box_06::after{ content: ""; display: block; clear:both;
    width: 100%; height: 0;}


  .box_06 .insert_01 {float: left; width:230px; height:200px;}
  .box_06 .insert_02 {float: left; width:230px; height:200px; background-color: #6c7a88;}
  .box_06 .insert_03 {float: left; width:230px; height:200px; background-color: #c79a83;}

  .box_06 > .inner_01 > .insert_01 {background-color:#ffcf5d;}
  .box_06 > .inner_01 > .insert_02 {background-color:#fff9eb;}

  .box_06 > .inner_02 > .insert_01 {background-color:#db5446;}
  .box_06 > .inner_02 > .insert_02 {width: 140px;}

  .box_06 > .inner_03 > .insert_01 {width: 370px; background-color:#7e94ff;}
  */

  /* -------------------------------------- */

.box_06 {height: auto;}
.box_06 > div {width: 100%; height: auto;}
.box_06 .insert {float: left; width: 230px; height: 200px;}
.box_06 > div:after ,
.box_06 > div::after {content: ""; display: block; clear: both; width:100%; height: 0;}

.inner_01 .insert_01 {background-color: #44F342;}
.inner_01 .insert_02 {float: right; background-color: #C8B52C;}

.inner_02 .insert_01 {background-color: #DF8B77;}
.inner_02 .insert_02 {width: 140px; background-color: #532F14;}
.inner_02 .insert_03 { background-color: #48BCB3;}

.inner_03 .insert_01 {width: 370px; background-color: #1815A3;}
.inner_03 .insert_02 {background-color: #B63206;}


/* 
집에 가서 찾아 볼 것
1. float, clear
2. Psudo-code: 가상의 코드, 의사전달 코드
3. margin, padding, border, outline
*/